<h2>{{search}}</h2>
<main>
    <p>This website provides about Marvel. 
        We have information about the movies and along with the years in which they are published</p>
    <form method="post" action="/search">
        <label>searchTerm</label>
        <input type="text" id="" name="searchTerm"/>
        <input type="submit" value="Submit" id=""/>
    </form>
</main>
